.login-center {
	width: 300px;
	background: #bedba0;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -150px;
}

.cad-center {
	width: 500px;
	background: #bedba0;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -250px;
}